dotenv
  python-dotenv
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
Flask
  blinker
  click
  itsdangerous
  Jinja2
    MarkupSafe
  MarkupSafe
  Werkzeug
    MarkupSafe
goose3
  requests
    charset-normalizer
    idna
    urllib3
    certifi
  pillow
  lxml
  cssselect
  beautifulsoup4
    soupsieve
    typing_extensions
  python-dateutil
    six
  langdetect
    six
  pyahocorasick
nltk
  click
  joblib
  regex
  tqdm
pipdeptree
  packaging
  pip
pt_core_news_md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.8.0/pt_core_news_md-3.8.0-py3-none-any.whl#sha256=54382cda034e41f3ec605ceeb924cd6cfdbced00a65f7afa12218520ba7008c5
python-telegram-bot
  httpx
    anyio
      idna
      sniffio
    certifi
    httpcore
      certifi
      h11
    idna
scikit-learn
  numpy
  scipy
    numpy
  joblib
  threadpoolctl
spacy
  spacy-legacy
  spacy-loggers
  murmurhash
  cymem
  preshed
    cymem
    murmurhash
  thinc
    blis
      numpy
    murmurhash
    cymem
    preshed
      cymem
      murmurhash
    wasabi
    srsly
      catalogue
    catalogue
    confection
      pydantic
        annotated-types
        pydantic_core
          typing_extensions
        typing_extensions
        typing-inspection
          typing_extensions
      srsly
        catalogue
    setuptools
    numpy
    pydantic
      annotated-types
      pydantic_core
        typing_extensions
      typing_extensions
      typing-inspection
        typing_extensions
    packaging
  wasabi
  srsly
    catalogue
  catalogue
  weasel
    confection
      pydantic
        annotated-types
        pydantic_core
          typing_extensions
        typing_extensions
        typing-inspection
          typing_extensions
      srsly
        catalogue
    packaging
    wasabi
    srsly
      catalogue
    typer
      click
      typing_extensions
      shellingham
      rich
        markdown-it-py
          mdurl
        Pygments
    cloudpathlib
    smart_open
      wrapt
    requests
      charset-normalizer
      idna
      urllib3
      certifi
    pydantic
      annotated-types
      pydantic_core
        typing_extensions
      typing_extensions
      typing-inspection
        typing_extensions
  typer
    click
    typing_extensions
    shellingham
    rich
      markdown-it-py
        mdurl
      Pygments
  tqdm
  numpy
  requests
    charset-normalizer
    idna
    urllib3
    certifi
  pydantic
    annotated-types
    pydantic_core
      typing_extensions
    typing_extensions
    typing-inspection
      typing_extensions
  Jinja2
    MarkupSafe
  setuptools
  packaging
  langcodes
    language_data
      marisa-trie
telegram
tornado
transformers
  filelock
  huggingface-hub
    filelock
    fsspec
    packaging
    PyYAML
    requests
      charset-normalizer
      idna
      urllib3
      certifi
    tqdm
    typing_extensions
    hf-xet
  numpy
  packaging
  PyYAML
  regex
  requests
    charset-normalizer
    idna
    urllib3
    certifi
  tokenizers
    huggingface-hub
      filelock
      fsspec
      packaging
      PyYAML
      requests
        charset-normalizer
        idna
        urllib3
        certifi
      tqdm
      typing_extensions
      hf-xet
  safetensors
  tqdm
Wikipedia-API
  requests
    charset-normalizer
    idna
    urllib3
    certifi
wordcloud
  numpy
  pillow
  matplotlib
    contourpy
      numpy
    cycler
    fonttools
    kiwisolver
    numpy
    packaging
    pillow
    pyparsing
    python-dateutil
      six
